.game-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(55, 106, 75);
  
}

.game-settings-content {
  /* text-align: center; */
  background: rgb(33, 70, 40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  height: 400px;
  width: 600px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  position: absolute;
}

.game-settings-content h1 {
  font-size: 50px;
  user-select: none;
  margin-left: 140px;
}

.falling-letters-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
}

.falling-letter {
  position: absolute;
  top: -50px; 
  left: 50%;
  color: white;
  font-size: 50px;
  animation: rain 5s linear infinite;
  user-select: none;
}

@keyframes rain {
  0% {
    transform: translateY(-50px); 
  }
  100% {
    transform: translateY(100vh); 
  }
}
