.game-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(55, 106, 75);
  
}

.game-settings-content {
  /* text-align: center; */
  background: rgb(33, 70, 40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  height: 400px;
  width: 600px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  position: absolute;
}

.game-settings-content h1 {
  font-size: 50px;
  user-select: none;
  margin-left: 140px;
}
