.title-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(55, 106, 75);
  
}

.title-screen-content {
  text-align: center;
  background: rgb(33, 70, 40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  height: 300px;
  width: 600px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  position: absolute;
}

.title-screen-content h1 {
  font-size: 50px;
  user-select: none;
}


.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.button-group > * {
  margin-right: 0.5rem;
}

.button-group > *:last-child {
  margin-right: 0;
}
