.app-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: rgb(55, 106, 75);
  
}

.app-settings-rain-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
}

.volume-container{
    background: rgb(33, 70, 40);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    width: 320px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    z-index: 1;
    margin: 20px;
    user-select: none;
}

.app-settings-title{
  background: rgb(33, 70, 40);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 33vw;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  z-index: 1;
  margin: 30px;
  user-select: none;
  font-size: 25px;
}

.slider-container{
  margin-top: 40px;
}