button {
  transform: skew(-20deg);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
  user-select: none;
  background: rgb(55, 106, 75);
  background: linear-gradient(0deg, rgba(55, 106, 75, 1) 16%, rgba(66, 138, 94, 1) 48%, rgba(64, 143, 95, 1) 60%, rgba(62, 149, 97, 1) 74%, rgba(78, 163, 112, 1) 86%);
  border: 3px solid black;
  transition: border-color 0.3s ease;
}

button:hover {
  cursor: pointer;
  animation: pulsate 1s infinite;
}

button.disabled-button {
  background: gray;
  cursor: not-allowed;
  animation: none;
}


@keyframes pulsate {
  0% {
    transform: skew(-20deg) scale(1);
  }
  50% {
    transform: skew(-20deg) scale(1.1);
  }
  100% {
    transform: skew(-20deg) scale(1);
  }
}