.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.user-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 20px;
}

@media (min-width: 768px) {
  .user-stats-container {
    flex-direction: row;
  }
}

.user-stats {
  background: rgb(33, 70, 40);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  max-width: 45%;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  user-select: none;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 2rem;
  margin: 1rem;
  min-height: 400px;
  position: relative; /* Ensure relative positioning for the ::after pseudo-element */
  text-align: center; /* Center align text */
}

.user-stats h2 {
  position: relative; /* Ensure relative positioning for the ::after pseudo-element */
}

.user-stats h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Adjust thickness of the underline */
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.user-accuracy {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.display-name {
  background: rgb(33, 70, 40);
  align-items: center;
  color: white;
  border: 3px solid black;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  position: relative;
  font-size: 4rem; /* Adjust as needed */
  margin-bottom: 1rem; /* Optional: Adds space between h1 and buttons */
  user-select: none;
}