.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.user-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 20px;
}

@media (min-width: 768px) {
  .user-stats-container {
    flex-direction: row;
  }
}

.user-stats {
  background: rgb(33, 70, 40);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  max-width: 45%;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  user-select: none;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 2rem;
  margin: 1rem;
  min-height: 400px; /* Adjust height as needed */
}

.user-accuracy {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

